<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.catholic.mapper.AccountMapper">

    <select id="getAccount" resultType="Account">
        select * from user
        WHERE user.id=#{id}
        LIMIT 1
    </select>


    <insert id="insertAccount" parameterType="Account">
        INSERT INTO user(id, password)
        VALUES
        (#{id}, #{password})
    </insert>

    <update id = "UpdateAccount" parameterType="Account">
        update user
        set password = #{password}
        where user.id = #{id}

    </update>


</mapper>